<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace" name="PractWeb">
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{dd-MM-yyyy HH:mm:ss.SSS} [%t] %-5level %X{userID} %X{clientID} %X{sessionID} %logger{36} - %msg%n" />
		</Console>

		<RollingRandomAccessFile name="HttpReqs"
			fileName="C:/logs/PractWeb/PractWeb.log"
			filePattern="C:/logs/PractWeb/http-requests/$${date:yyyy-MM}/%d{dd-MMM-yyyy}-%i.log.gz">
			<PatternLayout
				pattern="%d{dd-MM-yyyy HH:mm:ss.SSS} [%t] %X{reqID} %X{serverID} %X{userID} %X{clientID} %X{userAgentID} - %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<root level="INFO">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="HttpReqs" />
		</root>

		<logger name="org.springframework" level="info" />
		<logger name="com.dw" level="debug" />
		<logger name="db.migration" level="debug" />

	</Loggers>
</Configuration>